body {
    background-color: rgb(206, 135, 2);
    text-align: justify;
}

h1 {
    color: rgb(248, 59, 2);
    text-align: center;
}

h2 {
    color: red;
    text-align: center;}

    h3 {
        text-align: center;
        border: 5px double red;
        padding: 10px;
        margin: 100px;
    }
    
    p {
        font-size: 30px;
    }

#imagem1 {
    border: 5px solid #a753ba;
    width: 50px;
}

#imagem2 {
    border: 10px dotted #711b84;
    height: 10%;
    width: 10%;
}










